# Compilación de NestJS
dist/

# Dependencias
node_modules/

# Variables de entorno locales
.env

# Base de datos SQLite local (¡Para no pisar la de tus compañeros!)
*.db
*.db-journal

/generated/prisma
